* {
    padding: 0%;
    margin: 0%;
   
}

.content {
    border: 2px solid black;
    width: 70%;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(204, 161, 168);
}

 img {
    width: 200px;
    height: 200px;
    padding-left: 350px;
    padding-top: 20px;
    
  
}

.name {
    font-size: 20px;
    font-family:'Courier New', Courier, monospace ;
    text-align: center;
}

.address {
    font-size: 15px;
    font-family:'Courier New', Courier, monospace ;
    text-align: center;
    text-transform: capitalize;
}

.head{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    color: magenta;
    padding-top: 10px;
}

.info {
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-transform: capitalize;
    
}

.head2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    color: magenta;
    padding-top: 5px;
}

.exp p {
    font-size:30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-transform: uppercase;
}

.educational {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

 .educational h1{
    text-align: center;
    color: magenta;
    padding-top: 10px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 30px;
}

.educational h3{
    padding-top: 3px;
}
