* {
    padding: 0%;
    margin: 0%;
}

html {
    scroll-behavior: smooth;
}

.menu{
    width: 100%;
    background:rgb(29, 28, 28);
    overflow: hidden;
    position: fixed;
    top: 0;
}

.menu ul{
    padding: 0%;
    margin: 0%;
    list-style: none;
}

.menu li{
    float: right;
}

.menu a{
    width: 100%;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    color: whitesmoke;
    font-family: Georgia ;
    text-transform: uppercase;
    font-weight: normal;
}

.menu ul li a:hover {
    text-decoration: underline;
}

.main-content {
    background-color:black;
    width: 100%;
    height: 100%;
}

.main-content .header{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-transform: uppercase;
}

.main-content h1 {
    padding-top: 40px ;
    padding-bottom: 10px;
    color: lightslategrey;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.main-content P {
    color: white;
}

.main-content p {
    width: 1000px;
    height: 330px;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 20px;
    padding-left: 30px;
    border: 2px solid black;
    margin-left: 9%;
    box-shadow: 5px 5px 20px lightslategray;
}

.main-content p:hover {
    box-shadow: 5px 5px 20px lightslategray;
}

#movie {
    background-color: black;
    height: 100%;
}

.head {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: lightslategray;
}

.box img {
    width: 200px;
    height: 220px;
}

.movie-teleserye {
    width: 90%;
    padding: 20px;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box {
     box-shadow: 3px 3px 15px white;
     margin: 0 10px;
     display: block;
     border-radius: 5px;
}

.box img:hover {
    box-shadow: 3px 3px 15px  white;
    transform: scale(1.3);
}

.head {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: lightslategray;
    padding-top: 50px;
    text-transform: uppercase;
}
