*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

nav{
    width: 100%;
    background:rgb(29, 28, 28);
    overflow: hidden;
    position: fixed;
    top: 0;
}

nav ul{
    padding: 0%;
    margin: 0%;
    list-style: none;
}

nav li{
    float: right;
}

nav a{
    width: 100px;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    transition: 0.8s;
    text-transform: capitalize;
}

nav ul li a:hover{
    color:lightslategray;
    border-style: double;

}

/* HOME */

#home{
    height: 100%;
   background-image: url(../images/bg.jpg);
   background-size: cover;
   background-position: center;
}

.text{
    color: white;
   margin-left: 35%;
   margin-top: 1%;
   
}

.name{
    font-size: 50px;
    color: lightslategray;
    
}

.pic{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 500px;
    height: 500px;

}

/* About Us */

#AboutUs{
    height: 100%;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;   
}

.head1{
    padding-top: 40px;
    text-align: center;
    color: white;
}

/* ACTIVITIES */
#activities{
    height:500px;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;

}

.head2{
    padding-top: 40px;
   color: white;
   text-align: center;
}

.activity{
    padding: 5px;
    max-width: 960px;
    width: 95;
    margin: 20px auto;
}

.column{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin:5px 0;
}

.col1{
    flex: 1;
    border: 2px solid white;
    margin: 2px;
    padding: 40px;
    background-color:black;
    transition: 0.5s;
    text-transform: capitalize;
    color: white;
}

.col1 h2{
    font-size: 50px;
    color:white
}

.col1 a{
    color: white;
    font-weight: bold;

}

.col2{
    flex: 1;
    border: 2px solid white;
    margin: 10px;
    padding: 40px;
    background-color:black;
    transition: 0.5s;
    text-transform: capitalize;
    color: white;
}

.col2 h2{
    font-size: 50px;
    color:white

}

.col2 a{
    color: white;
    font-weight: bold;

}


/* CONTACT */
#ContactUs{
    height: 200px;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
}

.head3{
    padding-top: 20px;
    text-align: center;
    color:white;
}

.name1{
    color: white;
    text-transform: capitalize;
    padding-left: 10px;
}

.social1 ul{
    position: absolute;
    display: flex;
    
}

.social1 img{
    width: 35px;
    padding-top: 10px;
}

.social1 ul li{
    list-style:none;
    margin: 0 5px;

}

.social1 ul li a{
 transition: .6s;
 position: relative;
 display: block;
}

.name2{
    color: white;
    text-transform: capitalize;
}

.social2{
 float: right;
 padding-right: 50px;
}

.social2 ul{
    position: absolute;
    display: flex;
    
}

.social2 img{
    width: 35px;
    padding-top: 10px;
   
}

.social2 ul li{
    list-style:none;
    margin: 0 5px;

}

.social2 ul li a{
 transition: .6s;
 position: relative;
 display: block;
}

#footer{
    width: 100%;
    background:rgb(29, 28, 28);
    overflow: hidden;
    bottom: 0;
}

.foter{
    color: white;
    text-align: center;
}


